<div class="jumbotron" data-bind="visible: loaded() && !bikes().length" style="display: none;">
    <h1>Welcome</h1>
    <p>Looks like the inventory is empty. Add some bikes to get started...</p>
    <p><button type="button" class="btn btn-primary btn-lg create">Add a Bike</button></p>
</div>
