@{
    ViewBag.Title = "Home";
}

<div class="loader" data-bind="css: { 'loader-hidden': loaded() }"></div>

<div class="jumbotron text-danger" data-bind="visible: fatal" style="display: none;">
    <h1>Error</h1>
    <p>It looks like something's broken... :(</p>
    <p>Try reloading the page?</p>
    <p><button type="button" class="btn btn-warning btn-lg refresh" onclick="location.reload();">Refresh</button></p>
</div>

<div class="jumbotron" data-bind="visible: searching() && searchText() && loaded() && !fatal() && !bikes().length" style="display: none;">
    <h1>Nope</h1>
    <p>There aren't any items in the inventory that match "<span data-bind="text: searchText().trim()"></span>".</p>
</div>

<div class="jumbotron" data-bind="visible: !searching() && !searchText() && loaded() && !fatal() && !bikes().length" style="display: none;">
    <h1>Welcome</h1>
    <p>Looks like the inventory is empty. Add some bikes to get started...</p>
    <p><button type="button" class="btn btn-primary btn-lg add">Add a Bike</button></p>
</div>

@Html.Partial("_BikeList")

@Html.Partial("_BikeDetail")

@section NavBar {
    <div class="navbar-form navbar-left">
        <button type="button" class="btn btn-primary add">Add Bike</button>
    </div>

    <div class="navbar-form navbar-left search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Bikes" data-bind="value: searchText, hasFocus: searching, valueUpdate : 'afterkeydown'" />
        </div>
        <button type="button" class="btn btn-default search" title="Search"><span class="glyphicon glyphicon-search"></span></button>
    </div>

    <div class="navbar-form navbar-left">
        <button type="button" class="btn btn-warning refresh" title="Refresh items"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/app")
}